{% extends 'base_layout.html' %}

{% block head %}
  <title> Welcome! I'm Kevin </title>
{% endblock %}

{% block body %}
  <div class = 'container' style="width: 600px; margin-top:40px;">
    <h1> Hello, I'm Kevin! </h1>
    <hr>
    <p style="font-size:120%;"> 
      I'm currently a freshman at the University of Pennsylvania studying computer
      science and minoring in statistics. I really enjoy programming because I love the process of building
      and experimenting.
    </p>
    <p style="font-size:120%;"> 
      Outside of school, I enjoy playing tennis, getting destroyed in basketball :p, and chilling with
      my friends.
    </p>
  </div>
{% endblock %}
