{% extends 'base_layout.html' %}

{% block head %}
  <title> Contact </title>
{% endblock %}


{% block body %}
  <div class = 'container' style="width: 600px; margin-top:40px;">
    <h1> Contact Me! </h1>
    <hr>
    <br>
    <p style="font-size:120%; line-height:50px;"> 
      Email: <a href="mailto:kevc528@seas.upenn.edu" target="_blank">kevc528@seas.upenn.edu </a>
      <br>
      LinkedIn: <a href="https://www.linkedin.com/in/kevin-chen-15495518a/" target="_blank"> https://www.linkedin.com/in/kevin-chen-15495518a/ </a>
      <br>
      Github: <a href="https://github.com/kevc528" target="_blank"> My Profile </a>
      <br>
    </p>
  </div>
{% endblock %}
