{% extends 'base_layout_long.html' %}

{% block head %}
  <title> {{project.title}} </title>
{% endblock %}

{% block body %}
  <div class = 'container' style="width: 600px; margin-top:40px;">
    <h1> {{project.title}} </h1>
    <hr>
    <p style="font-size:120%;"> {{project.description}}</p>
    <br>
    <div class="accordion" id="discussion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Discussion
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#discussion">
          <div class="card-body">
            <p class = "text-center">
              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Comment
              </a>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <form action='/comment/{{project.id}}' method='POST'>
                  {% csrf_token %}
                  <label for="author">Name</label>
                  <input class="form-control" name="author" placeholder="Enter name">
                  <br>
                  <label for="comment">Post a comment!</label>
                  <textarea class="form-control" name="comment" placeholder="Comment..." rows="2"></textarea>
                  <br>
                  <input type="submit" value="Make Comment!"/>
                </form>
              </div>
            </div>
            {% for comment in project.comments.all reversed %}
              <div class = "card" style = "margin-bottom:10px">
                <div class = "card-body">
                  <h5 class= "card-title linkable">{{comment.author}} says...</h5>
                  <h6 class="card-text">{{comment.comment}}</h6>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
