{% extends 'base_layout.html' %}

{% block head %}
  <title> Projects </title>
{% endblock %}


{% block body %}
  <style>
    .linkable:hover {
      color: #007bff;
    }
  </style>
  <div class = 'container' style="width: 600px; margin-top:40px;">
    <h1> My Projects </h1>
    <hr>
    <p style="font-size:120%;"> 
      Here are some of the projects I've worked on. Pursuing these projects has helped me learn to 
      solve problems on my own and explore new tools and technologies.
    </p>
    {% for project in projects %}
    <div class = "card" style = "margin-bottom:10px">
        <div class = "card-body">
          <a href = "/projects/{{project.title}}" style = "color:black"><h5 class= "card-title linkable">{{project.title}}</h5></a>
          <i class="card-text">{{project.start_date.month}}/{{project.start_date.year}} - 
            {{project.end_date.month}}/{{project.end_date.year}}
            <br>
          </i>
          <br>
          {% for category in project.category.all %}
          <button type="button" class="btn btn-outline-primary btn-rounded btn-sm waves-effect">{{category}}</button>
          {% endfor %}
        </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
